body{
  background-color: rgb(229, 226, 226) !important;
  padding: 60px;
  
}

.cardclass{
  height: 18rem;
}

.imgcard{
  height: 235px;
}

.padding-card{
  width: 100% !important;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}